@import '../css/TokyoNight.css';

window {
    background-color: transparent;
}

button {
    background-position: center;
    background-size: 30%;
    background-color: @mirage;
    border: 1px solid;
    border-color: @day-sky-blue;
    border-radius: 8px;
    font-size: 14px;
}

button:hover {
    background-color: @dusky-blue;
}

button:focus {
    background-color: @dusky-blue
}

#lock {
    background-image: url("./icons/lock.png");
}

#logout {
    background-image: url("./icons/logout.png");
}

#reboot {
    background-image: url("./icons/reboot.png");
}

#shutdown {
    background-image: url("./icons/shutdown.png");
}